.hero-section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-color: var(--dark-bg-color);
    // mobile
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../../images/teammain@1x_sm.png);
        background-image: -webkit-image-set ("../../images/teammain@1x_sm.webp");
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../../images/teammain@2x_sm.png);
            }
    
        // tablet
        @media screen and (min-width: 768px) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../../images/teammain@1x_md.png);
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../../images/teammain@2x_md.png);
        }
        // Desktop
                                @media screen and (min-width: 1200px) {
                                    background-image: linear-gradient(to right,
                                            rgba(47, 48, 58, 0.4),
                                            rgba(47, 48, 58, 0.4)),
                                        url(../../images/teammain@1x_lg.png);
                                }
                
                                @media (min-device-pixel-ratio: 2),
                                (min-resolution: 192dpi),
                                (min-resolution: 2dppx) {
                                    background-image: linear-gradient(to right,
                                            rgba(47, 48, 58, 0.4),
                                            rgba(47, 48, 58, 0.4)),
                                        url(../../images/teammain@2x_lg.png);
                                }
}