.decision-btn {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    cursor: pointer;
    background-color: var(--active-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;


    &:hover,
    &:focus {
        color: var(--secondary-text-color);
        background-color: var(--active-text-color);
    }
}
.email-footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;

    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;

    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
}
.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    padding: 6px 22px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;


    &:hover,
    &:focus {
        background-color: var(--active-text-color);
        color: var(--secondary-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}
.btn-mode-blue {
    color: var(--secondary-text-color);
    background-color: var(--active-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 0px;
}

.btn-mode-grey {
    color: var(--main-text-color);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0px;
}
.modal-close-btn {

    position: absolute;
    top: 8px;
    right: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

}
.modal-main-btn {

    display: inline-flex;
    align-items: center;
    padding: 10px 52px;

    border: none;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}





