:root {
/* fonts */
--main-font : 'Roboto';
--logo-font : 'Raleway';

/* text colors */
--main-text-color : #212121;
--secondary-text-color : #FFFFFF;
---other-color : #757575;
--active-text-color : #2196F3;

/* bg colors */
--dark-bg-color : #2F303A;
--light-bg-color : #F5F4FA;

}